{{#paper-sidenav-container class="inner-sidenav"}}


    {{#paper-sidenav
            class="md-whiteframe-z2"
            name="left"
            open=leftSideBarOpen
            onToggle=(action (mut leftSideBarOpen))
    }}

        {{#paper-toolbar as |toolbar|}}
            {{#paper-toolbar-tools}}fD{{/paper-toolbar-tools}}
        {{/paper-toolbar}}
        {{#paper-content padding=false}}



       <div id='personal-info-wrap'>

          <div id='pro-top'>
             <div id='face'></div>
             <div id='pro-top-intro'>
                <div id='name'>Felipe Dominguez</div>
                <div id='pro-title'>Engineer & Designer</div>
             </div>
          </div>

          <div id='pro-bottom'>
             <div id='pro-links'>
               <i class="mdi mdi-github-circle mdi-24px mdi-light"></i>
              <i class="mdi mdi-linkedin-box mdi-24px mdi-light"></i>
              <i class="mdi mdi-email mdi-24px mdi-light"></i>
            </div>
          </div>

       </div>



            {{#paper-list}}
                {{#paper-item class="md-1-line"}}
                ABOUT
                {{/paper-item}}

                {{#paper-item class="md-1-line"}}
                    BLOG
                {{/paper-item}}
                {{#paper-item class="md-1-line"}}
                    PORTFOLIO
                {{/paper-item}}
                {{#paper-item class="md-1-line"}}
                    RESUME
                {{/paper-item}}

            {{/paper-list}}

        {{/paper-content}}

    {{/paper-sidenav}}

    {{#paper-card-content class="flex"}}
        <div class="layout-fill layout-align-start-center layout-column" style="height: 100vh">

            {{#paper-toolbar}}

                {{#paper-toolbar-tools}}

                    {{#paper-sidenav-toggle name="left" as |toggleAction|}}

                        {{#paper-button iconButton=true classNames="hide-gt-md" onClick=(action toggleAction)}}
                            {{paper-icon "menu" }}
                        {{/paper-button}}


                    {{/paper-sidenav-toggle}}

                {{/paper-toolbar-tools}}



            {{/paper-toolbar}}





            {{#paper-content padding='true'}}
            {{!--<p>
                The left sidenav will "lock open" on a medium (>=960px wide) device.
            </p>
            <p>
                Left sidenav is {{if leftSideBarOpen "opened" "closed"}}
            </p>

            {{#paper-sidenav-toggle name="left" as |toggleAction|}}
                {{#paper-button raised=true classNames="hide-gt-md" onClick=(action toggleAction)}}
                    Toggle
                {{/paper-button}}
            {{/paper-sidenav-toggle}}

            <p>
                The left sidenav will "lock open" on a medium (>=960px wide) device.
            </p>
            <p>
                Left sidenav is {{if leftSideBarOpen "opened" "closed"}}
            </p>--}}

{{outlet}}


      {{/paper-content}}
        </div>
    {{/paper-card-content}}


{{/paper-sidenav-container}}
